/*------------ HEADER ------------*/
#header {
	background: #4e5944 url(../../Assets/images/bg-header.jpg) repeat-x left bottom;
	padding: 40px 0 46px;
}
/** logo **/
.logo {
	float: left;
	display: inline-block;
}
